{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  <title>
    {% block title %}
    Tree Of Life|Details
    {% endblock title %}

  </title>

</head>
{% endblock head %}

<body>

  {% block body %}



  <section class="ftco-bible-study">
    <div class="container-wrap">
      <div class="col-md-12 wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="one-forth ftco-animate">
                <h3>Who we are</h3>
                <p>
                  Tree Of Life is a non Denominational Christ Fellowship program that we
                  meet to fellowship only on Sunday Evenings from 07:00 pm: 09:00 pm
                  and mostly dominated by the youth
                </p>
              </div>
              <!-- <div class="one-half d-md-flex align-items-md-center ftco-animate">
									<div class="countdown-wrap">
										<p class="countdown d-flex">
											<span id="days"></span>
											<span id="hours"></span>
											<span id="minutes"></span>
											<span id="seconds"></span>
										</p>
									</div>
									<div class="button">
										<p><a href="#" class="btn btn-primary p-3">Events Details</a></p>
									</div>
								</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          <h2 class="mb-3 " style="font-weight: bolder;font-style: oblique ; color: rgb(31, 28, 28); font-weight: bolder;">
            <b>{{articles.title}}</b>
            {% if articles.added_by == request.user %}
            <a class="icon-edit" href="{% url 'tof_app:updatearticle' articles.id %}"></a>
            {% endif %}
          </h2>

          <div><span class="text-muted">By: {{articles.added_by}}</span></div>
          <div><span class="fa fa-clock-o text-muted">{{articles.date_updated|date:"DATE_FORMAT"}}</span></div>

          <p>
            {% if articles.image %}
            <img src="{{articles.image.url}}" alt="" class="img-fluid">
            {% elif articles.image_url %}
            <img src="{{articles.image_url}}" alt="" class="img-fluid">

            {% endif %}
          </p>
          <p>
            <!-- share -->
            <div class="">
              <div class="text-muted">share</div>
              <div class="section-title">

                <!-- <ul class="icons"> <i class="fa fa-facebook" aria-hidden="true"></i> -->
                {% comment %} <small><i class="fa fa-share-square" aria-hidden="true"></i></small> {% endcomment %}
                <li class="lishare"><a href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=%20' +
                               encodeURIComponent(document.title) + ':%20 ' +
                               encodeURIComponent(document.URL)); return false;">
                    <i class="fa fa-twitter text-info"></i></a>
                </li>
                <li class="lishare"><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook"
                    target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='
                               + encodeURIComponent(document.URL) + '&t='
                               + encodeURIComponent(document.URL)); return false;">
                    <i class="fa fa-facebook text-info"></i>
                  </a></li>

                <li class="lishare"><a href="https://www.whatsapp://send?text=" title="Share On Whatsapp" onclick="window.open('whatsapp://send?text=%20*{{ articles.title }}* %2D '
                                       + encodeURIComponent(document.URL)); return false;">
                    <i class="fa fa-whatsapp text-success"></i>
                  </a></li>


                </ul>

              </div>
              <!-- commnt start -->
              <div class="fb-comments" data-href="{{articles.get_absolute_url}}" data-width="" data-numposts="5"></div>


              <!-- comment end -->

            </div>

            <!-- end share -->
          </p>
          <h4 class="mb-3 mt-5">{{articles.story|safe}}</h4>

          <img src="{% static 'images/image_8.jpg' %}" alt="" class="img-fluid">
          </p>


          <!-- <div class="about-author d-flex p-5 bg-light">
              <div class="bio align-self-md-center mr-5">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc align-self-md-center">
                <h3>{{articles.added_by}}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div> -->


          <div class="pt-5 mt-5">
            <h3 class="mb-5">6 Comments</h3>
            <ul class="comment-list">

              <!-- comments appeare here -->

            </ul>
            <!-- END comment-list -->

            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <div class="text-muted">not working now</div>

              <form action="#" class="p-5 bg-light">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="website">Website</label>
                  <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>

              </form>
            </div>
          </div>

        </div> <!-- .col-md-8 -->
        <!-- here -->
        <div class="col-md-4 sidebar ftco-animate order-last">

          <div class="sidebar-box ftco-animate">
            <h3>Recent Blog</h3>
            {% for articles in allarticles|slice:':6' %}

            <div class="block-21 mb-4 d-flex">
              {% if articles.image %}
              <a class="blog-img mr-4" style="background-image: url({{articles.image.url}});"></a>
              {% elif articles.image_url %}
              <a class="blog-img mr-4" style="background-image: url({{articles.image_url}});"></a>

              {% endif %}
              <div class="text">
                <h3 class="heading"><a href="{{articles.get_absolute_url}}">{{articles.title}}</a></h3>
                <div class="meta">

                  <div><a href="#"><span class="fa fa-clock-o"></span>{{articles.date_updated}}</a></div>
                  <div><a href="#"><span class="fa fa-registered"></span> {{articles.added_by}}</a></div>
                  <div><a href="#"><span class="fa fa-eye"></span>{{articles.total_views}} </a></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="sidebar-box ftco-animate ">
            <h3>Tag Cloud</h3>
            {% for tag in articles.tags.all %}
            <div class="tagcloud" style="display: inline;">
              <a href="{% url 'tof_app:tag_articles' tag %}" class="tag-cloud-link">{{ tag| title }}</a>
              {% endfor %}
            </div>
          </div>


        </div>
        <!-- to here -->
      </div>
    </div>
  </section> <!-- .section -->






  <script>
    document.getElementById('pageinfo').replaceWith('Article Detail Page')
    document.getElementById('save-your-spirit').remove()
  </script>


  <style>
    .lishare {
      display: inline;
      margin: 6%;
      font-size: 30px;

    }
  </style>
  {% endblock body %}

</body>

</html>