{% extends "base.html" %}
{% load static %}
{% block head %}

<head>

  <title>
    {% block title %}
    Tree Of Life|Home|{% if request.user.group %}
    {{request.user.group}}
    {% endif %}
    {% endblock title %}
  </title>

</head>
{% endblock head %}

<body>

  {% block body %}

  {% block bibleStudy %}
  <section class="ftco-bible-study">
    <div class="container-wrap">
      <div class="col-md-12 wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="one-forth ftco-animate">
                <h3>Who we are </h3>
                <p class="">
                  Tree Of Life is a non Denominational Christ Fellowship program that we
                  meet to fellowship only on Sunday Evenings from 07:00 pm: 09:00 pm
                  and mostly dominated by the youth
                </p>
              </div>
              <div class="one-half d-md-flex align-items-md-center ftco-animate">
                <div class="countdown-wrap">
                  <p class="countdown d-flex">
                    <h2 class="text-light" style="margin-left: 10%;"> Annoucements</h2>
                    <ul class="">
                      {% for anoycements in objects.anoycements|slice:'2' %}
                      <li class="text-light mx-4">{{anoycements.name}} 
                        {% if user.is_leader %}
                        <a title="edit" class="fa fa-pencil" href="{% url 'tof_app:update-event' anoycements.pk %}"></a>
                        {% endif %}
                      </li>
                     
                      {% endfor %}
                    </ul>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock bibleStudy %}

  <section class="ftco-section-2">
    <div class="container-fluid">
      <div class="section-2-blocks-wrapper d-flex row no-gutters ">
        <div class="img col-md-6 ftco-animate " style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0CKzquarDM00IfzygqLqO7Uw84oSNDweCSUGS8X9dImOPpA5C&usqp=CAU);">
          <a href="https://youtu.be/TJLan-pJzfQ" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
        </div>
        <div class="text col-md-6 ftco-animate">
          <div class="text-inner align-self-start ">

            <h3><em>Loving God, Loving Others and Serving the World</em></h3>
            <p>In Tree Of Life Fellowship, we pride our selfs of having an amazing leader who
              teaches the word of God and gives opportunity to persons who would like to teach the Word.
              It's a greate privilage Dad!! We appreciate that.
            </p>
          
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section">
    <div class="container">
      <h3><b>What Keeps us moving</b></h3>
      <div style="height: 29px; overflow: hidden; margin-bottom: 5%;">
        <iframe src="https://www.opendrive.com/player/Nl8xNzkwMjY0NDNfVVZiV3U?folder_id=Nl8yNDI4NjYxMF9lbEE1NQ" frameborder="0"></iframe>
      </div> 
      <p class="text-muted">by saying this, we believe that our faith is increased in the Lord our our Spirit is renewesd.</p>
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-6 text-center heading-section ftco-animate">
         
          <h2 class="mb-4" style="color: #24304D;">UPCOMING EVENTS</h2>
         <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Time</th>
              <th>Date</th>
              {% if user.is_leader %}
              <th>edit</th>
              {% endif %}
            </thead>
            <tbody>
              {% for events in  objects.events %}
              <tr>
                <td>{{events.name}}</td>
                <td>{{events.time}}</td>
                <td>{{events.date}}</td>
                {% if user.is_leader %}
                  <td><a title="edit" class="fa fa-pencil" href="{% url 'tof_app:update-event' events.pk %}"></a></td>
                {% endif %}
              <tr>
                {% endfor %}
            </tbody>
          </table>

         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <a title="become a member" href="{% url 'tof_app:become-member' %}">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center">
                <div class="icon d-flex justify-content-center mb-3"><span
                    class="align-self-center flaticon-planet-earth"></span></div>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Become A Member</h3>
                <p>Become a member of this amazing family of non Denominational Christ Fellowship click here
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <a title="Accept Christ" href="{% url 'tof_app:accept-christ' %}">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center">
                <div class="icon d-flex justify-content-center mb-3"><span
                    class="align-self-center flaticon-maternity"></span></div>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Accept Christ</h3>
                <p>Want to accept Jusus Christ as your Lod and personal Savior #you are gladly welcome. click here
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <a title="Prayer Request" href="{% url 'tof_app:prayer-request' %}">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center">
                <div class="icon d-flex justify-content-center mb-3"><span
                    class="align-self-center flaticon-pray"></span></div>

              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Prayer Request/Testimonies</h3>
                <p>Request for prayer or a testimony you will like to share with us, click here
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <a title="take quize" href="{% url 'classroom' %}">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center">
                <div class="icon d-flex justify-content-center mb-3"><span
                    class="align-self-center flaticon-podcast"></span></div>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">School</h3>

                <p>Join our amazing school where we take quizzes based on past Lessons at service just to make us
                  abreast with the word of God.
                  It's good to learn right ?. click here
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- 
  <section class="ftco-section">
    <div class="container">
      <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Sermons</span>
          <h2 class="mb-4">Watch our sermons</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ftco-animate">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url({% static 'images/sermons-1.jpg' %});">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Be at Peace With One Another</a></h3>
              <span class="position">Pastor. Joseph Meyer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url({% static 'images/sermons-2.jpg' %});">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Inspirational Message of God</a></h3>
              <span class="position">Pastor. Joseph Meyer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url({% static 'images/sermons-3.jpg' %});">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Prayers, Presence, and Provision</a></h3>
              <span class="position">Dave Zuleger</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <p><a href="#" class="btn btn-primary btn-outline-primary p-3">Watch all sermons</a></p>
        </div>
      </div>
    </div>
  </section> -->

  <!--  -->

  <section class="ftco-section-2 bg-light">
    <div class="container-fluid">
      <div class="row no-gutters d-flex">
        {% for latestArticle in allarticles|slice:":1" %}
        <a href="{{latestArticle.get_absolute_url}}">
          {% if latestArticle.image %}
          <div class="col-md-6 img d-flex justify-content-end align-items-center"
            style="background-image: url({{latestArticle.image.url}});">
            <div 
              
          {% elif latestArticle.image_url%}
          <div class="col-md-6 img d-flex justify-content-end align-items-center"
            style="background-image: url({{latestArticle.image_url}});">
            <div 
              
            {% endif %}
              class="col-md-7 heading-section text-sm-center text-md-right heading-section-white ftco-animate mr-md-5 mt-md-5">
              <h2>{{latestArticle.title}}</h2>
              <p>
                <!-- {{latestArticle.story|safe}} -->
              </p>
              <p><a href="{{latestArticle.get_absolute_url}}" class="btn btn-primary py-3 px-4">View Events</a></p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Blog</span>

          <h2>Recent Article</h2>

        </div>
      </div>
      <div class="row">
        {% for article in allarticles|slice:"1:" %}


        <div class="col-md-4 ftco-animate">
          <div class="blog-entry" data-aos-delay="200">
            {% if article.image %}
            <a href="{{article.get_absolute_url}}" class="block-20"
              style="background-image: url({{article.image.url}});">
            </a>
            {% endif %}
            <div class="text p-4">
              <div class="meta mb-3">
                <div>{{article.date_updated|date:"DATE_FORMAT"}}</div>
                <!-- <div>Admin</div> -->
                <div><a href="#" class="meta-chat"><span class="icon-eye"></span> {{article.total_views}}</div>
              </div>
              <h3 class="heading"><a href="{{article.get_absolute_url}}">{{article.title}}</a>
              </h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <script src="{% static 'js/jquery.min.js' %}"></script>


  <script src="{% static "js/typer.js" %}"></script>

  <script>
    $("#typer-text").typer({

      strings: [
        "if i say TREE OF LIFE",
        'you repeat after me',
        '',
        "OBEDIENCE AND SELF DENIAL",
        "Then i will repeat",
        'TREE OF LIFE Again',
        'Then you will say',
        '',
        'PRESSING ON TOWARDS OUR GOAL',
        'Then i will say again',
        'TREE OF LIFE',
        'Then lastly you say',
        'JESUS IS OUR CAPTAIN',
        'we repeat the tree of life 3 times.',
        'Simple right ? lets ROCK',
        '',
        '1 Tree of Life !!!',
        'waiting',
        '',
        '2 Tree of Life !!',
        'waiting',
        '',
        '3 Tree of Life !',
        '',
        'Thank you for saying this you are welcomed and blessed',


      ]
    });
  </script>
  {% endblock body %}

</body>

</html>